<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal da FATEC</title>
</head>
<body>
    <h1>Seja bem vindo ao site pricipal da FATEC Sorocaba</h1>
</body>
</html>

